
<div id="page-header" class="ph-full ph-full-m ph-cap-xxxxlg ph-center ph-image-parallax ph-caption-parallax">    
    <div class="page-header-inner tt-wrap">
        <div class="ph-caption">
            <div class="ph-caption-inner">
                <h2 class="ph-caption-subtitle">Edgar Haro Zuno</h2>
                <h1 class="ph-caption-title">Software</h1>
                <div class="ph-caption-description max-width-700">
                    Innovación en transformación digital para impulsar<br />el crecimiento y la eficiencia empresarial
                </div>
            </div> 
        </div>
    </div>

    <div class="page-header-inner ph-mask">
        <div class="ph-mask-inner tt-wrap">
            <div class="ph-caption">
                <div class="ph-caption-inner">
                    <h2 class="ph-caption-subtitle">Ingeniero En Sistemas</h2>
                    <h1 class="ph-caption-title">Developer</h1>
                    <div class="ph-caption-description max-width-700">
                        Desarrollo de software personalizado para satisfacer<br/>las necesidades específicas de las empresas.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ph-social">
        <ul>
            <li><a href="https://github.com/ehzdev" class="tt-magnetic-item" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/ehzdev/" class="tt-magnetic-item" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://x.com/ehzdev" class="tt-magnetic-item" target="_blank" rel="noopener"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.tiktok.com/@ehzdev" class="tt-magnetic-item" target="_blank" rel="noopener"><i class="fa-brands fa-tiktok"></i></a></li>
        </ul>
    </div>
    <div class="tt-scroll-down">
        <a  href="assets/files/ehz-cv.pdf" download="ehz-cv.pdf" target="_blank" class="tt-scroll-down-inner tt-magnetic-item" data-offset="0">
            <div class="tt-scrd-icon">
                <i class="fa-solid fa-download"></i>
            </div>
            <svg viewbox="0 0 500 500">
                <defs>
                    <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle"></path>
                </defs>
                <text dy="30">
                    <textpath xlink:href="#textcircle">Ver Resumen - Profesional -</textpath>
                </text>
            </svg>
        </a> 
    </div>
</div>
