<div class="tt-section padding-top-xlg-120">
  <div class="tt-section-inner tt-wrap">
    <div class="tt-row margin-bottom-40">
      <div class="tt-col-xl-8">
        <div class="tt-heading tt-heading-xxxlg no-margin">
          <h3 class="tt-heading-subtitle tt-text-reveal">Contacto</h3>
          <h2 class="tt-heading-title tt-text-reveal">Listo Para<br> Empezar</h2>
        </div>
      </div>
      
      <div class="tt-col-xl-4 tt-align-self-end tt-xl-column-reverse margin-top-40">
        <div class="max-width-600 margin-bottom-10 tt-text-uppercase text-pretty tt-text-reveal">
          ¿Te sientes bien con un nuevo proyecto? Cuéntame lo que tienes en mente y ¡hablemos sobre ello!
        </div>

        <div class="tt-big-round-ptn margin-top-30 margin-bottom-xlg-80 tt-anim-fadeinup">
          <a href="https://wa.me/523314492371" target="_blank" class="tt-big-round-ptn-holder tt-magnetic-item">
            <div class="tt-big-round-ptn-inner">Contacta<br> Ahora</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>