  <!-- Begin page transition (do not remove!!!) 
  =========================== -->
  <div id="tt-page-transition">
    <div class="tt-ptr-overlay-top tt-noise"></div>
    <div class="tt-ptr-overlay-bottom tt-noise"></div>
    <div class="tt-ptr-preloader">
      <div class="tt-ptr-prel-content">
        <!-- Hint: You may need to change the img height and opacity to match your logo type. You can do this from the "theme.css" file (find: ".tt-ptr-prel-image"). -->
        <img src="assets/img/logo-light.png" class="tt-ptr-prel-image" alt="Logo">
      </div> <!-- /.tt-ptr-prel-content -->
    </div> <!-- /.tt-ptr-preloader -->
  </div>
  <!-- End page transition -->

