<div class="tt-section no-padding-bottom padding-bottom-xlg-80">
  <div class="tt-section-inner tt-wrap">
    <div class="tt-row">
      <div class="tt-col-xl-8">
        <div class="tt-heading tt-heading-xxxlg">
          <h3 class="tt-heading-subtitle tt-text-reveal">Lo Que Ofrezco</h3>
          <h2 class="tt-heading-title tt-text-reveal">Servicios</h2>
        </div>

        <div class="tt-text-uppercase max-width-400 margin-left-xlg-10-p text-pretty tt-text-reveal">
          Desarrollo, optimización y análisis para la transformación digital, mejorando eficiencia y resultados operativos.
        </div>
      </div>
      
      <div class="tt-col-xl-4 tt-align-self-end margin-top-40">
        <div class="tt-big-arrow tt-ba-angle-bottom-left tt-anim-fadeinup">
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
            <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tt-section">
  <div class="tt-section-inner">
    <div class="tt-horizontal-accordion tt-hac-alter-hover tt-anim-fadeinup">
      <div class="tt-hac-item cursor-alter">
        <div class="tt-hac-item-count"></div>
        <div class="tt-hac-item-inner">
          <div class="tt-hac-item-content">
            <div class="tt-haci-content-top">
              <h2 class="tt-haci-title">Web &nbsp;<br>Apps</h2>
              <div class="tt-haci-description">
                Desarrollo de aplicaciones web modernas, utilizando tecnologías de última generación como Angular, React, Astro y Tailwind CSS. Interfaces dinámicas, eficientes y visualmente atractivas, adaptadas a las necesidades específicas de cada proyecto.              
              </div>
            </div>
            <div class="tt-haci-content-bottom">
              <a href="services.html" class="tt-btn tt-btn-outline tt-magnetic-item">
                <span data-hover="Leer Más">Leer Más</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="tt-hac-item cursor-alter">
        <div class="tt-hac-item-count"></div>
        <div class="tt-hac-item-inner">
          <div class="tt-hac-item-content">
            <div class="tt-haci-content-top">
              <h2 class="tt-haci-title">Móvil &nbsp;<br>Apps</h2>
              <div class="tt-haci-description">
                Desarrollo de aplicaciones móviles de alto rendimiento con Flutter y React Native, con interfaces nativas y fluidas para una experiencia óptima en iOS y Android, enfocadas en rendimiento y usabilidad.
              </div>
            </div>
            <div class="tt-haci-content-bottom">
              <a href="services.html" class="tt-btn tt-btn-outline tt-magnetic-item">
                <span data-hover="Leer Más">Leer Más</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="tt-hac-item cursor-alter">
        <div class="tt-hac-item-count"></div>
        <div class="tt-hac-item-inner">
          <div class="tt-hac-item-content">
            <div class="tt-haci-content-top">
              <h2 class="tt-haci-title">Chat<br>Bots</h2>
              <div class="tt-haci-description">
                Automatización de procesos con chatbots para WhatsApp y Telegram, con flujos conversacionales personalizados para mejorar la eficiencia operativa mediante inteligencia artificial.
              </div>
            </div>
            <div class="tt-haci-content-bottom">
              <a href="services.html" class="tt-btn tt-btn-outline tt-magnetic-item">
                <span data-hover="Leer Más">Leer Más</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="tt-hac-item cursor-alter">
        <div class="tt-hac-item-count"></div>
        <div class="tt-hac-item-inner">
          <div class="tt-hac-item-content">
            <div class="tt-haci-content-top">
              <h2 class="tt-haci-title">Micro<br>Services</h2>
              <div class="tt-haci-description">
                Desarrollo de microservicios escalables y eficientes, usando Docker, Kubernetes y APIs REST/gRPC para optimizar rendimiento, flexibilidad y despliegue continuo.
              </div>
            </div>
            <div class="tt-haci-content-bottom">
              <a href="services.html" class="tt-btn tt-btn-outline tt-magnetic-item">
                <span data-hover="Leer Más">Leer Más</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="tt-hac-item cursor-alter">
        <div class="tt-hac-item-count"></div>
        <div class="tt-hac-item-inner">
          <div class="tt-hac-item-content">
            <div class="tt-haci-content-top">
              <h2 class="tt-haci-title">Data &nbsp;<br>Analysis</h2>
              <div class="tt-haci-description">
                Desarrollo de soluciones avanzadas de análisis de datos, utilizando SQL, Python, R y herramientas de visualización como Power BI y Tableau para procesar, modelar y extraer insights de grandes volúmenes de datos, optimizando la toma de decisiones y los procesos empresariales.
              </div>
            </div>
            <div class="tt-haci-content-bottom">
              <a href="services.html" class="tt-btn tt-btn-outline tt-magnetic-item">
                <span data-hover="Leer Más">Leer Más</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>