<div id="page-header" class="ph-full ph-full-m ph-cap-xxxxlg ph-center ph-image-parallax ph-caption-parallax">

    <!-- Begin page header image 
    ============================= 
    * Use class "ph-image-grayscale" to enable black & white image.
    * Use class "ph-image-cover-*" to set image overlay opacity. For example "ph-image-cover-2" or "ph-image-cover-2-5" (up to "ph-image-cover-9-5"). 
    -->
    <!-- <div class="ph-image ph-image-cover-1">
        <div class="ph-image-inner">
            <img src="assets/img/page-header/ph-1.jpg" alt="Image">
        </div>
    </div> -->
    <!-- End page header image -->

    <!-- Begin page header video 
    ============================= 
    * Use class "ph-video-grayscale" to enable black & white video.
    * Use class "ph-video-cover-*" to set video overlay opacity. For example "ph-video-cover-2" or "ph-video-cover-2-5" (up to "ph-video-cover-9-5"). 
    * Use attribute "loop" in <video> tag to make the video play repeatedly.
    -->
    <!-- <div class="ph-video ph-video-cover-1">
        <div class="ph-video-inner">
            <video loop muted autoplay playsinline preload="metadata" poster="assets/vids/1920/video-1-1920.jpg">
                <source src="assets/vids/placeholder.mp4" data-src="assets/vids/1920/video-1-1920.mp4" type="video/mp4">
                <source src="assets/vids/placeholder.webm" data-src="assets/vids/1920/video-1-1920.webm" type="video/webm">
            </video>
        </div>
    </div> -->
    <!-- End page header video -->
        
    <div class="page-header-inner tt-wrap">
        
        <div class="ph-caption">
            <div class="ph-caption-inner">
                <h2 class="ph-caption-subtitle">My Work</h2>
                <h1 class="ph-caption-title">Projects</h1>
                <div class="ph-caption-description max-width-700">
                    Discover a showcase of my creative journey that reflects my passion for crafting engaging digital experiences
                </div>
            </div> <!-- /.ph-caption-inner -->
        </div> <!-- /.ph-caption -->

    </div> <!-- /.page-header-inner -->

    <!-- Begin page header mask
    ============================ 
    Note: ph-mask is basically a clone of caption. If you want to use a different text on the mask then it is a bit tricky to fit. For better results, make sure that it will be the same length as possible as the original caption text (especially the title). It should also contain the same number of lines. Sometimes this can be difficult to achieve, in which case we recommend simply using identical text to the original caption.
    -->
    <div class="page-header-inner ph-mask">
        <div class="ph-mask-inner tt-wrap">

            <div class="ph-caption">
                <div class="ph-caption-inner">
                    <h2 class="ph-caption-subtitle">Portfolio</h2>
                    <h1 class="ph-caption-title">Cool Stuff</h1>
                    <div class="ph-caption-description max-width-700">
                        Explore a collection of my creative journey, showcasing my passion for designing immersive digital experiences
                    </div>
                </div> <!-- /.ph-caption-inner -->
            </div> <!-- /.ph-caption -->

        </div> <!-- /.ph-mask-inner -->
    </div>
    <!-- End page header mask -->


    <!-- Begin social buttons
    ========================== -->
    <div class="ph-social">
        <ul>
            <li><a href="https://www.facebook.com/themetorium" class="tt-magnetic-item" target="_blank" rel="noopener"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="https://dribbble.com/Themetorium" class="tt-magnetic-item" target="_blank" rel="noopener"><i class="fa-brands fa-dribbble"></i></a></li>
            <li><a href="https://www.behance.net/Themetorium" class="tt-magnetic-item" target="_blank" rel="noopener"><i class="fa-brands fa-behance"></i></a></li>
            <li><a href="https://www.youtube.com/" class="tt-magnetic-item" target="_blank" rel="noopener"><i class="fa-brands fa-youtube"></i></a></li>
            <!-- <li><a href="https://x.com/Themetorium" class="tt-magnetic-item" target="_blank" rel="noopener"><i class="fa-brands fa-x-twitter"></i></a></li> -->
        </ul>
    </div>
    <!-- End social buttons -->

    <!-- Begin scroll down
    =======================
    * Note: Circle shown only if class "ph-full" or "ph-full-m" is enabled in "page-header" but not on small screens! Otherwise, only the arrow icon will be shown to save space.
    -->
    <div class="tt-scroll-down">
        <!-- You can change "data-offset" attribute to set scroll top offset -->
        <a href="#tt-page-content" class="tt-scroll-down-inner tt-magnetic-item" data-offset="0">
            <div class="tt-scrd-icon"></div>
            <svg viewbox="0 0 500 500">
                <defs>
                    <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle"></path>
                </defs>
                <text dy="30">
                    <!-- If you change the text, you probably have to change the CSS parameters as well. In the "theme.css" file, find ".tt-scroll-down text {" and change the "font-size" and "letter-spacing" to fit the text correctly. -->
                    <textpath xlink:href="#textcircle">Scroll to Explore - Scroll to Explore -</textpath>
                </text>
            </svg>
        </a> <!-- /.tt-scroll-down-inner -->
    </div>
    <!-- End scroll down -->

</div>
<!-- End page header -->


<!-- *************************************
*********** Begin page content *********** 
************************************** -->
<div id="tt-page-content">


    <!-- =======================
    ///// Begin tt-section /////
    ============================ 
    * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc.
    * You can use classes "border-top" and "border-bottom" if needed. 
    * Note: Each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
    -->
    <div class="tt-section padding-bottom-xlg-120">
        <div class="tt-section-inner max-width-2200">

            <!-- Begin portfolio grid (works combined with tt-Ggrid!)
            ========================== 
            * Use class "pgi-hover" to enable portfolio grid item hover effect (behavior depends on "ttgr-gap-*" classes below!).
            * Use class "pgi-cap-hover" to enable portfolio grid item caption hover effect (effect only with class "pgi-cap-inside"! Also no effect on mobile devices!).
            * Use class "pgi-cap-center" to position portfolio grid item caption to center.
            * Use class "pgi-cap-inside" to position portfolio grid item caption to inside.
            --> 
            <div id="portfolio-grid" class="pgi-hover pgi-cap-inside">

                <!-- Begin tt-Grid
                =================== 
                * Use class "ttgr-layout-2", "ttgr-layout-3", "ttgr-layout-4" to set grid layout (columns). No class = one column.
                * Use class "ttgr-layout-1-2", "ttgr-layout-2-1", "ttgr-layout-2-3", "ttgr-layout-3-2", "ttgr-layout-3-4" or "ttgr-layout-4-3" to set grid mixed layout (columns).
                * Use class "ttgr-layout-creative-1" or "ttgr-layout-creative-2" to set grid creative mixed layout (no effect with classes "ttgr-portrait", "ttgr-portrait-half", "ttgr-not-cropped" and "ttgr-shifted").
                * Use class "ttgr-portrait" or "ttgr-portrait-half" to enable portrait mode (no effect with classes "ttgr-layout-creative-1", "ttgr-layout-creative-2" and "ttgr-not-cropped").
                * Use class "ttgr-gap-1", "ttgr-gap-2", "ttgr-gap-3", "ttgr-gap-4", "ttgr-gap-5" or "ttgr-gap-6" to add space between items.
                * Use class "ttgr-not-cropped" to enable not cropped mode (effect only with classes "ttgr-layout-2", "ttgr-layout-3" and "ttgr-layout-4").
                * Use class "ttgr-shifted" to enable shifted layout (effect only with classes "ttgr-layout-2", "ttgr-layout-3" and "ttgr-layout-4").
                -->
                <div class="tt-grid ttgr-layout-3 ttgr-gap-1 ttgr-not-cropped">

                    <!-- Begin tt-Ggrid top content 
                    ================================ -->
                    <div class="tt-grid-top">

                        <!-- Begin tt-Ggrid categories/filter
                        ====================================== -->
                        <div class="tt-grid-categories">

                            <!-- Begin tt-Ggrid categories trigger 
                            ======================================= 
                            * Use class "ttgr-cat-fixed" to enable categories trigger fixed position.
                            * Use class "ttgr-cat-colored" to enable categories trigger colored style.
                            -->
                            <div class="ttgr-cat-trigger-wrap">
                                <div class="ttgr-cat-trigger-holder">
                                    <a href="#portfolio-grid" class="ttgr-cat-trigger" data-offset="150">
                                        <div class="ttgr-cat-text hide-cursor">
                                            <span data-hover="Open">Filter</span>
                                        </div>
                                    </a> <!-- /.ttgr-cat-trigger -->
                                </div> <!-- /.ttgr-cat-trigger-holder -->
                            </div>
                            <!-- End tt-Ggrid categories trigger -->

                            <!-- Begin tt-Ggrid categories nav 
                            =================================== -->
                            <div class="ttgr-cat-nav">
                                <div class="ttgr-cat-close-btn">Close <i class="fas fa-times"></i></div> <!-- For mobile devices! -->
                                <div class="ttgr-cat-list-holder cursor-close" data-lenis-prevent="">
                                    <div class="ttgr-cat-list-inner">
                                        <div class="ttgr-cat-list-content">
                                            <ul class="ttgr-cat-list hide-cursor">
                                                <li class="ttgr-cat-item"><a href="#" class="active">All</a></li>
                                                <li class="ttgr-cat-item"><a href="#" data-filter=".lifestyle">Lifestyle</a></li>
                                                <li class="ttgr-cat-item"><a href="#" data-filter=".artistic">Artistic</a></li>
                                                <li class="ttgr-cat-item"><a href="#" data-filter=".wellness">Wellness</a></li>
                                            </ul>
                                        </div> <!-- /.ttgr-cat-links-content -->
                                    </div> <!-- /.ttgr-cat-links-inner -->
                                </div> <!-- /.ttgr-cat-links-holder -->
                            </div>
                            <!-- End tt-Ggrid categories nav -->

                        </div>
                        <!-- End tt-Ggrid categories/filter-->

                    </div>
                    <!-- End tt-Grid top content -->


                    <!-- Begin tt-Grid items wrap 
                    ============================== -->
                    <div class="tt-grid-items-wrap isotope-items-wrap">

                        <!-- Begin tt-Grid item
                        ======================== -->
                        <div class="tt-grid-item isotope-item lifestyle">
                            <div class="ttgr-item-inner">

                                <!-- Begin portfolio grid item 
                                ===============================
                                * Use class "pgi-image-is-light" if needed, it makes the caption visible better if you use light image (only effect if "pgi-cap-inside" is enabled on "portfolio-grid"! Also no effect on small screens!).
                                -->
                                <div class="portfolio-grid-item">
                                    <a href="single-project-1.html" class="pgi-image-wrap" data-cursor="View<br>Project">
                                        <!-- Use class "cover-opacity-*" to set image overlay if needed. For example "cover-opacity-2". Useful if class "pgi-cap-inside" is enabled on "portfolio-grid". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                                        <div class="pgi-image-holder cover-opacity-2">
                                            <div class="pgi-image-inner tt-anim-zoomin">
                                                <figure class="pgi-image ttgr-height">
                                                    <img src="assets/img/portfolio/800/portfolio-1.jpg" loading="lazy" alt="image">
                                                </figure> <!-- /.pgi-image -->
                                            </div> <!-- /.pgi-image-inner -->
                                        </div> <!-- /.pgi-image-holder -->
                                    </a> <!-- /.pgi-image-wrap -->

                                    <div class="pgi-caption">
                                        <div class="pgi-caption-inner">
                                            <h2 class="pgi-title">
                                                <a href="single-project-1.html">Tortillas</a>
                                            </h2>
                                            <div class="pgi-categories-wrap">
                                                <div class="pgi-category">Lifestyle</div>
                                                <!-- <a href="" class="pgi-category">Varia</a -->
                                            </div> <!-- /.pli-categories-wrap -->
                                        </div> <!-- /.pgi-caption-inner -->
                                    </div> <!-- /.pgi-caption -->
                                </div>
                                <!-- End portfolio grid item -->

                            </div> <!-- /.ttgr-item-inner -->
                        </div>
                        <!-- End tt-Grid item -->

                        <!-- Begin tt-Grid item
                        ======================== -->
                        <div class="tt-grid-item isotope-item lifestyle">
                            <div class="ttgr-item-inner">

                                <!-- Begin portfolio grid item 
                                ===============================
                                * Use class "pgi-image-is-light" if needed, it makes the caption visible better if you use light image (only effect if "pgi-cap-inside" is enabled on "portfolio-grid"!).
                                -->
                                <div class="portfolio-grid-item pgi-image-is-light">
                                    <a href="single-project-2.html" class="pgi-image-wrap" data-cursor="View<br>Project">
                                        <!-- Use class "cover-opacity-*" to set image overlay if needed. For example "cover-opacity-2". Useful if class "pgi-cap-inside" is enabled on "portfolio-grid". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                                        <div class="pgi-image-holder">
                                            <div class="pgi-image-inner tt-anim-zoomin">
                                                <figure class="pgi-image ttgr-height">
                                                    <img src="assets/img/portfolio/800/portfolio-2.jpg" loading="lazy" alt="image">
                                                </figure> <!-- /.pgi-image -->
                                            </div> <!-- /.pgi-image-inner -->
                                        </div> <!-- /.pgi-image-holder -->
                                    </a> <!-- /.pgi-image-wrap -->

                                    <div class="pgi-caption">
                                        <div class="pgi-caption-inner">
                                            <h2 class="pgi-title">
                                                <a href="single-project-2.html">Coffee Shop</a>
                                            </h2>
                                            <div class="pgi-categories-wrap">
                                                <div class="pgi-category">Lifestyle</div>
                                                <!-- <div class="pgi-category">Varia</div> -->
                                            </div> <!-- /.pli-categories-wrap -->
                                        </div> <!-- /.pgi-caption-inner -->
                                    </div> <!-- /.pgi-caption -->
                                </div>
                                <!-- End portfolio grid item -->

                            </div> <!-- /.ttgr-item-inner -->
                        </div>
                        <!-- End tt-Grid item -->

                        <!-- Begin tt-Grid item
                        ======================== -->
                        <div class="tt-grid-item isotope-item artistic">
                            <div class="ttgr-item-inner">

                                <!-- Begin portfolio grid item 
                                ===============================
                                * Use class "pgi-image-is-light" if needed, it makes the caption visible better if you use light image (only effect if "pgi-cap-inside" is enabled on "portfolio-grid"!).
                                -->
                                <div class="portfolio-grid-item">
                                    <a href="single-project-3.html" class="pgi-image-wrap" data-cursor="View<br>Project">
                                        <!-- Use class "cover-opacity-*" to set image overlay if needed. For example "cover-opacity-2". Useful if class "pgi-cap-inside" is enabled on "portfolio-grid". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                                        <div class="pgi-image-holder cover-opacity-2">
                                            <div class="pgi-image-inner tt-anim-zoomin">
                                                <figure class="pgi-video-wrap ttgr-height">
                                                    <video class="pgi-video" loop="" muted="" preload="metadata" poster="assets/vids/800/video-4-800.jpg">
                                                        <source src="assets/vids/placeholder.mp4" data-src="assets/vids/800/video-4-800.mp4" type="video/mp4">
                                                        <source src="assets/vids/placeholder.webm" data-src="assets/vids/800/video-4-800.webm" type="video/webm">
                                                    </video>
                                                </figure> <!-- /.pgi-video-wrap -->
                                            </div> <!-- /.pgi-image-inner -->
                                        </div> <!-- /.pgi-image-holder -->
                                    </a> <!-- /.pgi-image-wrap -->

                                    <div class="pgi-caption">
                                        <div class="pgi-caption-inner">
                                            <h2 class="pgi-title">
                                                <a href="single-project-3.html">Fashion Shoot</a>
                                            </h2>
                                            <div class="pgi-categories-wrap">
                                                <div class="pgi-category">Artistic</div>
                                                <!-- <div class="pgi-category">Varia</div> -->
                                            </div> <!-- /.pli-categories-wrap -->
                                        </div> <!-- /.pgi-caption-inner -->
                                    </div> <!-- /.pgi-caption -->
                                </div>
                                <!-- End portfolio grid item -->

                            </div> <!-- /.ttgr-item-inner -->
                        </div>
                        <!-- End tt-Grid item -->

                        <!-- Begin tt-Grid item
                        ======================== -->
                        <div class="tt-grid-item isotope-item artistic">
                            <div class="ttgr-item-inner">

                                <!-- Begin portfolio grid item 
                                ===============================
                                * Use class "pgi-image-is-light" if needed, it makes the caption visible better if you use light image (only effect if "pgi-cap-inside" is enabled on "portfolio-grid"!).
                                -->
                                <div class="portfolio-grid-item">
                                    <a href="single-project-4.html" class="pgi-image-wrap" data-cursor="View<br>Project">
                                        <!-- Use class "cover-opacity-*" to set image overlay if needed. For example "cover-opacity-2". Useful if class "pgi-cap-inside" is enabled on "portfolio-grid". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                                        <div class="pgi-image-holder cover-opacity-2">
                                            <div class="pgi-image-inner tt-anim-zoomin">
                                                <figure class="pgi-image ttgr-height">
                                                    <img src="assets/img/portfolio/800/portfolio-3-portrait.jpg" loading="lazy" alt="image">
                                                </figure> <!-- /.pgi-image -->
                                            </div> <!-- /.pgi-image-inner -->
                                        </div> <!-- /.pgi-image-holder -->
                                    </a> <!-- /.pgi-image-wrap -->

                                    <div class="pgi-caption">
                                        <div class="pgi-caption-inner">
                                            <h2 class="pgi-title">
                                                <a href="single-project-4.html">Postorganic</a>
                                            </h2>
                                            <div class="pgi-categories-wrap">
                                                <div class="pgi-category">Artistic</div>
                                                <!-- <div class="pgi-category">Varia</div> -->
                                            </div> <!-- /.pli-categories-wrap -->
                                        </div> <!-- /.pgi-caption-inner -->
                                    </div> <!-- /.pgi-caption -->
                                </div>
                                <!-- End portfolio grid item -->

                            </div> <!-- /.ttgr-item-inner -->
                        </div>
                        <!-- End tt-Grid item -->

                        <!-- Begin tt-Grid item
                        ======================== -->
                        <div class="tt-grid-item isotope-item wellness">
                            <div class="ttgr-item-inner">

                                <!-- Begin portfolio grid item 
                                ===============================
                                * Use class "pgi-image-is-light" if needed, it makes the caption visible better if you use light image (only effect if "pgi-cap-inside" is enabled on "portfolio-grid"!).
                                -->
                                <div class="portfolio-grid-item">
                                    <a href="single-project-5.html" class="pgi-image-wrap" data-cursor="View<br>Project">
                                        <!-- Use class "cover-opacity-*" to set image overlay if needed. For example "cover-opacity-2". Useful if class "pgi-cap-inside" is enabled on "portfolio-grid". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                                        <div class="pgi-image-holder cover-opacity-2">
                                            <div class="pgi-image-inner tt-anim-zoomin">
                                                <figure class="pgi-image ttgr-height">
                                                    <img src="assets/img/portfolio/800/portfolio-4.jpg" loading="lazy" alt="image">
                                                </figure> <!-- /.pgi-image -->
                                            </div> <!-- /.pgi-image-inner -->
                                        </div> <!-- /.pgi-image-holder -->
                                    </a> <!-- /.pgi-image-wrap -->

                                    <div class="pgi-caption">
                                        <div class="pgi-caption-inner">
                                            <h2 class="pgi-title">
                                                <a href="single-project-5.html">Embrace Yourself</a>
                                            </h2>
                                            <div class="pgi-categories-wrap">
                                                <div class="pgi-category">Wellness</div>
                                                <!-- <div class="pgi-category">Varia</div> -->
                                            </div> <!-- /.pli-categories-wrap -->
                                        </div> <!-- /.pgi-caption-inner -->
                                    </div> <!-- /.pgi-caption -->
                                </div>
                                <!-- End portfolio grid item -->

                            </div> <!-- /.ttgr-item-inner -->
                        </div>
                        <!-- End tt-Grid item -->

                        <!-- Begin tt-Grid item
                        ======================== -->
                        <div class="tt-grid-item isotope-item lifestyle">
                            <div class="ttgr-item-inner">

                                <!-- Begin portfolio grid item 
                                ===============================
                                * Use class "pgi-image-is-light" if needed, it makes the caption visible better if you use light image (only effect if "pgi-cap-inside" is enabled on "portfolio-grid"!).
                                -->
                                <div class="portfolio-grid-item">
                                    <a href="single-project-6.html" class="pgi-image-wrap" data-cursor="View<br>Project">
                                        <!-- Use class "cover-opacity-*" to set image overlay if needed. For example "cover-opacity-2". Useful if class "pgi-cap-inside" is enabled on "portfolio-grid". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                                        <div class="pgi-image-holder cover-opacity-2">
                                            <div class="pgi-image-inner tt-anim-zoomin">
                                                <figure class="pgi-image ttgr-height">
                                                    <img src="assets/img/portfolio/800/portfolio-5.jpg" loading="lazy" alt="image">
                                                </figure> <!-- /.pgi-image -->
                                            </div> <!-- /.pgi-image-inner -->
                                        </div> <!-- /.pgi-image-holder -->
                                    </a> <!-- /.pgi-image-wrap -->

                                    <div class="pgi-caption">
                                        <div class="pgi-caption-inner">
                                            <h2 class="pgi-title">
                                                <a href="single-project-6.html">Pink Oasis</a>
                                            </h2>
                                            <div class="pgi-categories-wrap">
                                                <div class="pgi-category">Lifestyle</div>
                                                <!-- <div class="pgi-category">Varia</div> -->
                                            </div> <!-- /.pli-categories-wrap -->
                                        </div> <!-- /.pgi-caption-inner -->
                                    </div> <!-- /.pgi-caption -->
                                </div>
                                <!-- End portfolio grid item -->

                            </div> <!-- /.ttgr-item-inner -->
                        </div>
                        <!-- End tt-Grid item -->

                        <!-- Begin tt-Grid item
                        ======================== -->
                        <div class="tt-grid-item isotope-item lifestyle">
                            <div class="ttgr-item-inner">

                                <!-- Begin portfolio grid item 
                                ===============================
                                * Use class "pgi-image-is-light" if needed, it makes the caption visible better if you use light image (only effect if "pgi-cap-inside" is enabled on "portfolio-grid"!).
                                -->
                                <div class="portfolio-grid-item">
                                    <a href="single-project-7.html" class="pgi-image-wrap" data-cursor="View<br>Project">
                                        <!-- Use class "cover-opacity-*" to set image overlay if needed. For example "cover-opacity-2". Useful if class "pgi-cap-inside" is enabled on "portfolio-grid". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                                        <div class="pgi-image-holder cover-opacity-2">
                                            <div class="pgi-image-inner tt-anim-zoomin">
                                                <figure class="pgi-image ttgr-height">
                                                    <img src="assets/img/portfolio/800/portfolio-6-portrait.jpg" loading="lazy" alt="image">
                                                </figure> <!-- /.pgi-image -->
                                            </div> <!-- /.pgi-image-inner -->
                                        </div> <!-- /.pgi-image-holder -->
                                    </a> <!-- /.pgi-image-wrap -->

                                    <div class="pgi-caption">
                                        <div class="pgi-caption-inner">
                                            <h2 class="pgi-title">
                                                <a href="single-project-7.html">Turbulent Waters</a>
                                            </h2>
                                            <div class="pgi-categories-wrap">
                                                <div class="pgi-category">Lifestyle</div>
                                                <!-- <div class="pgi-category">Varia</div> -->
                                            </div> <!-- /.pli-categories-wrap -->
                                        </div> <!-- /.pgi-caption-inner -->
                                    </div> <!-- /.pgi-caption -->
                                </div>
                                <!-- End portfolio grid item -->

                            </div> <!-- /.ttgr-item-inner -->
                        </div>
                        <!-- End tt-Grid item -->

                        <!-- Begin tt-Grid item
                        ======================== -->
                        <div class="tt-grid-item isotope-item wellness">
                            <div class="ttgr-item-inner">

                                <!-- Begin portfolio grid item 
                                ===============================
                                * Use class "pgi-image-is-light" if needed, it makes the caption visible better if you use light image (only effect if "pgi-cap-inside" is enabled on "portfolio-grid"!).
                                -->
                                <div class="portfolio-grid-item pgi-image-is-light">
                                    <a href="single-project-8.html" class="pgi-image-wrap" data-cursor="View<br>Project">
                                        <!-- Use class "cover-opacity-*" to set image overlay if needed. For example "cover-opacity-2". Useful if class "pgi-cap-inside" is enabled on "portfolio-grid". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                                        <div class="pgi-image-holder">
                                            <div class="pgi-image-inner tt-anim-zoomin">
                                                <figure class="pgi-image ttgr-height">
                                                    <img src="assets/img/portfolio/800/portfolio-7-portrait.jpg" loading="lazy" alt="image">
                                                </figure> <!-- /.pgi-image -->
                                            </div> <!-- /.pgi-image-inner -->
                                        </div> <!-- /.pgi-image-holder -->
                                    </a> <!-- /.pgi-image-wrap -->

                                    <div class="pgi-caption">
                                        <div class="pgi-caption-inner">
                                            <h2 class="pgi-title">
                                                <a href="single-project-8.html">Baby Care</a>
                                            </h2>
                                            <div class="pgi-categories-wrap">
                                                <div class="pgi-category">Wellness</div>
                                                <!-- <div class="pgi-category">Varia</div> -->
                                            </div> <!-- /.pli-categories-wrap -->
                                        </div> <!-- /.pgi-caption-inner -->
                                    </div> <!-- /.pgi-caption -->
                                </div>
                                <!-- End portfolio grid item -->

                            </div> <!-- /.ttgr-item-inner -->
                        </div>
                        <!-- End tt-Grid item -->

                        <!-- Begin tt-Grid item
                        ======================== -->
                        <div class="tt-grid-item isotope-item wellness">
                            <div class="ttgr-item-inner">

                                <!-- Begin portfolio grid item 
                                ===============================
                                * Use class "pgi-image-is-light" if needed, it makes the caption visible better if you use light image (only effect if "pgi-cap-inside" is enabled on "portfolio-grid"!).
                                -->
                                <div class="portfolio-grid-item">
                                    <a href="single-project-9.html" class="pgi-image-wrap" data-cursor="View<br>Project">
                                        <!-- Use class "cover-opacity-*" to set image overlay if needed. For example "cover-opacity-2". Useful if class "pgi-cap-inside" is enabled on "portfolio-grid". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
                                        <div class="pgi-image-holder cover-opacity-2">
                                            <div class="pgi-image-inner tt-anim-zoomin">
                                                <figure class="pgi-image ttgr-height">
                                                    <img src="assets/img/portfolio/800/portfolio-8.jpg" loading="lazy" alt="image">
                                                </figure> <!-- /.pgi-image -->
                                            </div> <!-- /.pgi-image-inner -->
                                        </div> <!-- /.pgi-image-holder -->
                                    </a> <!-- /.pgi-image-wrap -->

                                    <div class="pgi-caption">
                                        <div class="pgi-caption-inner">
                                            <h2 class="pgi-title">
                                                <a href="single-project-9.html">Dream Spa</a>
                                            </h2>
                                            <div class="pgi-categories-wrap">
                                                <div class="pgi-category">Wellness</div>
                                                <!-- <div class="pgi-category">Varia</div> -->
                                            </div> <!-- /.pli-categories-wrap -->
                                        </div> <!-- /.pgi-caption-inner -->
                                    </div> <!-- /.pgi-caption -->
                                </div>
                                <!-- End portfolio grid item -->

                            </div> <!-- /.ttgr-item-inner -->
                        </div>
                        <!-- End tt-Grid item -->

                    </div>
                    <!-- End tt-Grid items wrap  -->

                </div>
                <!-- End tt-Grid -->

                <!-- Begin tt-pagination (uncomment below code if you want to use pagination)
                ========================= 
                * Use class "tt-pagin-center" to align center.
                -->
                <!-- <div class="tt-pagination tt-pagin-center tt-anim-fadeinup">
                    <div class="tt-pagin-prev">
                        <a href="" class="tt-pagin-item tt-magnetic-item"><i class="fas fa-arrow-left"></i></a>
                    </div>
                    <div class="tt-pagin-numbers">
                        <a href="#" class="tt-pagin-item tt-magnetic-item active">1</a>
                        <a href="" class="tt-pagin-item tt-magnetic-item">2</a>
                        <a href="" class="tt-pagin-item tt-magnetic-item">3</a>
                        <a href="" class="tt-pagin-item tt-magnetic-item">4</a>
                    </div>
                    <div class="tt-pagin-next">
                        <a href="" class="tt-pagin-item tt-pagin-next tt-magnetic-item"><i class="fas fa-arrow-right"></i></a>
                    </div>
                </div> -->
                <!-- End tt-pagination -->

            </div>
            <!-- End portfolio grid -->

        </div> <!-- /.tt-section-inner -->
    </div>
    <!-- End tt-section -->


    <!-- =======================
    ///// Begin tt-section /////
    ============================ 
    * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc.
    * You can use classes "border-top" and "border-bottom" if needed. 
    * Note: Each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
    -->
    <div class="tt-section padding-bottom-xlg-120">
        <div class="tt-section-inner tt-wrap">

            <div class="tt-row margin-bottom-40">
                <div class="tt-col-xl-8">

                    <!-- Begin tt-Heading 
                    ====================== 
                    * Use class "tt-heading-xsm", "tt-heading-sm", "tt-heading-lg", "tt-heading-xlg", "tt-heading-xxlg" or "tt-heading-xxxlg" to set caption size (no class = default size).
                    * Use class "tt-heading-center" to align tt-Heading to center.
                    * Use class "tt-text-reveal" or "tt-anim-fadeinup" with title or subtitle element to enable text reveal animation.
                    * Use prepared helper class "max-width-*" to add custom width if needed. Example: "max-width-800". More info about helper classes can be found in the file "helper.css".
                    -->
                    <div class="tt-heading tt-heading-xxxlg no-margin">
                        <h3 class="tt-heading-subtitle tt-text-reveal">Contact</h3>
                        <h2 class="tt-heading-title tt-text-reveal">Let's Work<br> Together</h2> <!-- You can use <br> to break a text line if needed -->
                    </div>
                    <!-- End tt-Heading -->

                </div> <!-- /.tt-col -->
            
                <div class="tt-col-xl-4 tt-align-self-end tt-xl-column-reverse margin-top-40">

                    <div class="max-width-600 margin-bottom-10 tt-text-uppercase tt-text-reveal">
                        Feeling good about a new project? Write me what's in your mind<br> and let's talk about it!
                    </div>

                    <!-- Begin big round button 
                    ============================ -->
                    <div class="tt-big-round-ptn margin-top-30 margin-bottom-xlg-80 tt-anim-fadeinup">
                        <a href="contact.html" class="tt-big-round-ptn-holder tt-magnetic-item">
                            <div class="tt-big-round-ptn-inner">Let's<br> Connect!</div>
                        </a>
                    </div>
                    <!-- End big round button -->

                </div> <!-- /.tt-col -->
            </div><!-- /.tt-row --> 

        </div> <!-- /.tt-section-inner -->
    </div>
    <!-- End tt-section -->


</div>
