<footer id="tt-footer" class="border-top">
    <div class="tt-footer-inner tt-wrap">
        <div class="tt-row">
            <div class="tt-col-xl-3 tt-col-sm-6">
                <div class="tt-footer-widget">
                    <h5 class="tt-footer-widget-heading">Conoce</h5>
                    <ul class="tt-footer-widget-list">
                        <li><a href="dummy.html" class="tt-link">Support</a></li>
                        <li><a href="dummy.html" class="tt-link">Licenses</a></li>
                        <li><a href="dummy.html" class="tt-link">Terms of Use</a></li>
                        <li><a href="dummy.html" class="tt-link">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="tt-col-xl-3 tt-col-sm-6">
                <div class="tt-footer-widget">
                    <h5 class="tt-footer-widget-heading">Sobre</h5>
                    <ul class="tt-footer-widget-list">
                        <li><a href="about-me.html" class="tt-link">About Me</a></li>
                        <li><a href="portfolio.html" class="tt-link">My Work</a></li>
                        <li><a href="services.html" class="tt-link">Services</a></li>
                        <li><a href="contact.html" class="tt-link">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="tt-col-xl-3 tt-col-sm-6">
                <div class="tt-footer-widget">
                    <h5 class="tt-footer-widget-heading">INFO</h5>
                    <ul class="tt-footer-widget-list">
                        <li>
                            <span class="tt-link" target="_blank" rel="nofollow noopener">GUADALAJARA,<br> JALISCO, MÉXICO</span>
                        </li>
                        <li><a href="mailto:ehz.dev@gmail.com" class="tt-link">{{ "ehz.dev@gmail.com" }}</a></li>
                        <li><a href="tel:+(123)456789000" class="tt-link"> +(123) 456 789 000</a></li>
                        <li>
                            <div class="tt-social-buttons">
                                <ul>
                                    <li><a href="https://www.facebook.com/themetorium" class="tt-magnetic-item" target="_blank" rel="noopener"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="https://dribbble.com/Themetorium" class="tt-magnetic-item" target="_blank" rel="noopener"><i class="fa-brands fa-dribbble"></i></a></li>
                                    <li><a href="https://www.behance.net/Themetorium" class="tt-magnetic-item" target="_blank" rel="noopener"><i class="fa-brands fa-behance"></i></a></li>
                                    <li><a href="https://www.youtube.com/" class="tt-magnetic-item" target="_blank" rel="noopener"><i class="fa-brands fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tt-col-xl-3 tt-col-sm-6 tt-justify-content-xl-end">
                <div class="tt-footer-widget">
                    <ul class="tt-footer-widget-list">
                        <li>
                            <div class="tt-footer-logo"> 
                                <a href="index.html" class="tt-magnetic-item">
                                    <img src="assets/img/logo-light.png" class="tt-logo-light" loading="lazy" alt="Logo">
                                    <img src="assets/img/logo-dark.png" class="tt-logo-dark" loading="lazy" alt="Logo">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="tt-footer-copyright">
                                © <span class="tt-copyright-year"></span> <a href="" class="tt-link" target="_blank" rel="nofollow noopener">EHZ.DEV</a><br> 
                                All Rights Reserved
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
