
<div class="tt-section no-padding-bottom padding-bottom-xlg-40">
  <div class="tt-section-inner tt-wrap">
    <div class="tt-row tt-lg-row-reverse">
      <div class="tt-col-lg-6 margin-bottom-20">
        <div class="tt-video ttv-portrait ttv-grayscale">
          <video playsinline="" muted="" autoplay="" loop="" preload="metadata" poster="assets/img/profile.jpg" class="tt-anim-zoomin">
          </video>
        </div>
      </div>
      <div class="tt-col-lg-1"></div>
      <div class="tt-col-lg-5">
        <h2 class="tt-font-alter tt-anim-fadeinup">Experiencia Profesional</h2>
        <div class="text-lg tt-anim-fadeinup">
          <p>Ingeniero en Sistemas Computacionales con experiencia en el desarrollo de software, automatización de procesos empresariales y gestión de TI.</p>
          <p>Implemento soluciones tecnológicas para la automatización de procesos, optimizando operaciones empresariales y mejorando la eficiencia mediante la integración de sistemas. En la gestión de TI, administro infraestructuras tecnológicas, incluyendo bases de datos y servidores, asegurando soluciones estables, escalables y de alto rendimiento. Mi enfoque se centra en la transformación digital y la optimización de procesos, impulsando la innovación tecnológica para fomentar el crecimiento empresarial.</p>
          <div class="tt-big-round-ptn margin-top-20 margin-left-xlg-10-p">
            <a [routerLink]="['/pages/projects']" class="tt-big-round-ptn-holder tt-magnetic-item">
              <div class="tt-big-round-ptn-inner">Explora<br> Mi Trabajo</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tt-section no-padding">
  <div class="tt-section-inner">
    <div class="tt-scrolling-text-crossed">
      <div class="tt-scrolling-text-crossed-inner">
        <div class="tt-scrolling-text scrt-dyn-separator scrt-color-reverse" data-scroll-speed="5" data-change-direction="true" data-opposite-direction="true">
          <div class="tt-scrt-inner">
            <div class="tt-scrt-content">
                Frontend Developer
              <span class="tt-scrt-separator">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                  <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path>
                </svg>
              </span>
            </div>
          </div>
        </div>

        <div class="tt-scrolling-text scrt-dyn-separator" data-scroll-speed="5" data-change-direction="true">
          <div class="tt-scrt-inner">
            <div class="tt-scrt-content">
              Backend Developer
              <span class="tt-scrt-separator">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                  <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
